* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body {
    min-height: 100vh;
    background-image:linear-gradient(135deg, #4AB1FF, #2D5CFE);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
}

.wrapper {
    background-color: white;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    width: 420px;
    padding: 26px 0;
    border-radius: 7px;
    margin: 0 10px;
    text-align: center;
    height: 465px;
    overflow: hidden;
}

.task-input{
    display: flex;
    align-items: baseline;
    border: 1px solid #999;
    padding: 0 15px;
    border-radius: 5px;
    height: 52px;
    box-shadow: 5px 5px 5px 0 rgb(204 204 204 / 30%);
    width: 92%;
    margin: 0 auto;
    gap: 6px;
}
@media (max-width:767px) {
    .task-input{
        width: 95%;
        padding: 0 10px;
    }
}
.task-input i{
    color: #bfbfbf;
    font-size: 20px;
}
.task-input input{
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}
.task-input input::placeholder{
    color: #ccc;
    font-size: 20px;
}

.submit{
    border: none;
    color: white;
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    background-image: linear-gradient(135deg, #4AB1FF, #2D5CFE);
    flex: 1;
}
.controlls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px 18px;
    border-bottom: 1px solid #ccc;
}
@media (max-width:767px) {
    .controlls{
        padding: 20px 15px;
    }
}
.controlls .filters{
    display: flex;
    align-items: center;
}
.controlls .filters li{
    padding: 5px 10px;
    color: #444444;
    cursor: pointer;
    font-size: 17px;
}
@media (max-width:767px) {
    .controlls .filters li{
        padding: 5px;
    }
}
.controlls .filters .active{
    color: #2D5CFE;
}
.controlls .clear{
    border: none;
    background-image: linear-gradient(135deg, #4AB1FF, #2D5CFE);
    color: white;
    padding: 9px 14px;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 13px;
}
.task-box{
    margin: 13px 0 0;
    padding: 0 25px 0 20px;
    min-height: 280px;
    max-height: 300px;
    overflow-y: auto;
}

.task-box .task{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 20px;
}
.task-box .task:not(:last-child){
    border-bottom: 1px solid #ccc;
}

.task-box .task label{
    display: flex;
    gap: 7px;
}

.task-box .task p.checked{
    text-decoration: line-through;
    opacity: 0.5;
}

.task-box .settings{
    position: relative;
    cursor: pointer;
}

.task-box .settings .task-menu{
    position: absolute;
    width: 115px;
    height: 95px;
    background-color: white;
    padding: 7px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 6px rgb(0 0 0 / 15%);
    z-index: 2;
    border-radius: 5px;
    top: 8px;
    right: 0;
    transform: scale(0);
    transition: 0.4s;
    transform-origin: top right;
}
.task-box .show .task-menu{
    transform: scale(1);
}
.task-box .settings .task-menu li{
    display: flex;
    width: 100%;
    flex: 1;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    transition: 0.4s;
    cursor: pointer;
}
.task-box .settings .task-menu li:hover{
    background-color: #eee;
}